*.tdo 
*.bbl
*.blg
*.backup
*.aux
*.nav
*.log
*.out
*.snm
*.toc
*.dvi
*.lof
*.thm
*.pyc
*.directory
Programmierung/PAA/savedata_julia
Programmierung/PAA/savefigs_julia
Programmierung/Param_p/3-States-Model/savefig