*.tdo 
*.bbl
*.blg
*.backup
*.aux
*.nav
*.log
*.out
*.snm
*.toc
*.dvi
*.lof
*.thm
*.pyc
*.directory
*.mem
*.loa
*.lod
*.svg
Programmierung/PAA/savedata_julia
Programmierung/PAA/savefigs_julia
Programmierung/PAA/savedata_python
Programmierung/Param_p/3-States-Model/savefig
Programmierung/Referenzdaten/BD*
