html {
    height: 100%;
}

body {
    background: #c9c9c9;
    counter-reset: figurecount tablecount;
}

a {
    text-decoration:none;
    color:#7a7a7a;
}

/* Enrichments fetch status */
#enrichments-fetch-status-container {
    display:-webkit-box;
    -webkit-box-direction:horizontal;
    -webkit-box-pack:center;
}

#enrichments-fetch-progress-throbber {
    width: 16px;
    margin-left: 10px;
}

#no-enrichments-view {
    background-color: #eee;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

#enrichments-status-label {
    color: #666;
}

/* Enrichments view styles */
.figures .element-label,
.tables .element-label,
.named-entities .element-label {
    background: #dbeffc;
}

.table-data {
    overflow: auto;
}

.figure img,
.area-highlight img {
    max-width: 100%;
}

.table table {
    width: 100%;
    font-size: 11px;
}

.table tr:nth-child(1) {
    font-weight:bold;
    color: #00a6fc;
}

.table tr:nth-child(1) td {
    border-bottom: 1px solid #00a6fc;
}
.table tr:nth-child(even) {
    background-color:#eeeeee;
}

.table td {
    padding: 2px 4px;
}


.table-data {
    padding: 5px;
}

.figure-image-container {
    margin: 8px;
}

.figure-image-unavailable {
	margin-left: auto;
	margin-right: auto;
	color: #666;
	font-size:12pt;
	font-family:'Sans Serif';
	text-align: center;
}

.table-figure-description {
    font-size: 11px;
    background: #eeeeee;
    color: #666;
    padding: 5px;
    margin: 8px;
    margin-top: 0;
}

.error-report-note {
	margin: 8px;
	background: #eeeeee;
	color: #666;
}

.named-entity-about {
    color: #666;
    font-size: 11px;
    padding: 5px;
}

.named-entity-show-more {
	margin-top: 10px;
}

.entity-name {
    font-weight: bold;
}

.entity-mention-count {
    color: #666;
}

/* Extracted figure styles */

.action-pane {
    display: block;
    margin: 0;
    padding: 12px;
    padding-bottom: 0;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 56px;
    border-top: 1px solid #929292;
    font-size: 12px;
    overflow: hidden;
    text-shadow: 0 1px 0 rgba(255,255,255,1);
    color: #222;
    outline: none;
    z-index: 20;
    background: #ededed;
}

.action-pane:hover {
    box-shadow: inset 0 0 0 3px rgba(0,132,207,0.2);
    cursor: pointer;
}

.action-pane:active,
.action-pane:focus {
    margin: 0;
}

.action-wrapper,
.export-options {
    background: #ededed;
    box-sizing: border-box;
    padding: 12px;
    padding-left: 52px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.action-wrapper:hover,
.export-options:hover {
    box-shadow: inset 0 0 0px 3px  rgba(0,112,237,0.2);
}

.dim {
    display: none;
    background: #000;
    opacity: 0.4;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 19;
}

.action-icon {
    width: 29px;
    height: 29px;
    float: left;
    margin-right: 10px;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
    border: 1px solid #3d6489;
}

.action-pane .action {
    display: block;
    margin-top: 2px;
}

.action-pane .description {
    font-size: 11px;
    display: block;
    color: #888;
}

.action-icon.mindmeister {
    background: url(export.png), -webkit-linear-gradient(top, #409af5 0%,#316dc2 100%);
}

